# Module1

### Task 1.1

In [96]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [97]:
df=pd.read_csv("INFY.csv")

In [98]:
df.shape

(496, 15)

In [99]:
df.tail(55)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
441,INFY,EQ,20-Feb-2019,724.30,727.00,743.00,726.05,740.55,740.70,734.78,5210675,3.828686e+09,130965,2558375,49.10
442,INFY,EQ,21-Feb-2019,740.70,738.00,738.00,727.10,734.00,733.45,732.23,7202786,5.274097e+09,151794,4504900,62.54
443,INFY,EQ,22-Feb-2019,733.45,732.50,738.20,728.00,734.90,734.95,733.71,3750833,2.752042e+09,99246,1775166,47.33
444,INFY,BL,25-Feb-2019,1220.15,734.95,734.95,734.95,734.95,734.95,734.95,1263230,9.284109e+08,1,0,0.00
445,INFY,EQ,25-Feb-2019,734.95,735.55,758.00,735.55,755.00,754.90,749.20,6547552,4.905414e+09,155205,3296211,50.34
446,INFY,EQ,26-Feb-2019,754.90,748.60,752.60,740.15,741.55,742.50,745.77,8319610,6.204522e+09,188778,5101741,61.32
447,INFY,EQ,27-Feb-2019,742.50,745.00,746.40,732.75,734.50,735.25,738.56,5936354,4.384325e+09,181469,3554571,59.88
448,INFY,EQ,28-Feb-2019,735.25,738.70,742.40,732.30,734.70,734.30,735.59,8559921,6.296620e+09,142436,4612032,53.88
449,INFY,EQ,01-Mar-2019,734.30,735.50,743.40,735.50,741.80,741.90,740.00,3998826,2.959116e+09,86883,2141670,53.56
450,INFY,EQ,05-Mar-2019,741.90,740.50,742.50,730.25,732.75,732.50,734.79,4826505,3.546464e+09,187167,2953053,61.18
451,INFY,EQ,06-Mar-2019,732.50,736.10,736.10,727.00,732.25,732.50,732.02,6076668,4.448254e+09,201307,3216638,52.93
452,INFY,EQ,07-Mar-2019,732.50,734.00,734.50,720.55,723.30,722.95,724.84,5951551,4.313907e+09,132988,3097595,52.05
453,INFY,EQ,08-Mar-2019,722.95,722.95,722.95,710.65,713.20,712.35,714.77,7193994,5.142023e+09,154378,3414734,47.47
454,INFY,EQ,11-Mar-2019,712.35,713.30,718.50,709.40,711.05,711.25,712.07,9932198,7.072398e+09,173911,6593102,66.38
455,INFY,EQ,12-Mar-2019,711.25,709.00,714.95,705.60,706.75,706.95,708.99,11997387,8.505978e+09,224748,8806754,73.41
456,INFY,EQ,13-Mar-2019,706.95,710.00,718.60,706.30,709.00,708.45,710.81,11348867,8.066894e+09,183506,5754904,50.71
457,INFY,EQ,14-Mar-2019,708.45,714.00,714.90,706.20,708.45,708.35,710.02,6415187,4.554911e+09,158840,3794127,59.14
458,INFY,EQ,15-Mar-2019,708.35,712.00,723.75,709.60,720.00,718.55,717.57,14638664,1.050421e+10,174230,9286884,63.44
459,INFY,EQ,18-Mar-2019,718.55,721.55,723.70,705.35,709.50,710.20,715.00,8065544,5.766885e+09,169894,4656010,57.73
460,INFY,EQ,19-Mar-2019,710.20,712.80,726.50,707.40,725.90,722.25,715.22,8917337,6.377898e+09,165399,5704607,63.97
461,INFY,EQ,20-Mar-2019,722.25,727.25,742.30,727.15,737.80,738.95,737.53,13471173,9.935368e+09,368666,6929551,51.44
462,INFY,BL,22-Mar-2019,734.95,738.95,738.95,738.95,738.95,738.95,738.95,1727935,1.276858e+09,1,1727935,100.00
463,INFY,EQ,22-Mar-2019,738.95,745.00,746.35,732.30,745.00,743.10,741.40,8883260,6.586010e+09,186950,5182729,58.34
464,INFY,EQ,25-Mar-2019,743.10,742.40,742.40,730.55,733.95,735.25,735.24,7644966,5.620908e+09,150353,4078146,53.34
465,INFY,EQ,26-Mar-2019,735.25,735.25,735.25,719.10,727.80,727.75,724.65,9406261,6.816221e+09,220918,5868934,62.39
466,INFY,EQ,27-Mar-2019,727.75,730.00,732.30,727.15,728.90,729.70,730.32,7387487,5.395200e+09,122789,5505910,74.53
467,INFY,EQ,28-Mar-2019,729.70,730.00,745.00,730.00,739.10,737.80,739.73,9277241,6.862617e+09,187881,5521081,59.51
468,INFY,EQ,29-Mar-2019,737.80,743.90,747.95,740.00,742.15,743.85,743.49,6924061,5.147991e+09,155083,4592403,66.33
469,INFY,EQ,01-Apr-2019,743.85,742.00,760.00,742.00,753.75,755.10,754.32,6584982,4.967200e+09,149150,3788889,57.54
470,INFY,EQ,02-Apr-2019,755.10,759.00,765.80,754.60,755.00,759.40,760.56,7283600,5.539625e+09,169885,4249666,58.35
471,INFY,EQ,03-Apr-2019,759.40,756.00,758.50,746.80,751.65,753.30,752.48,6897127,5.189956e+09,200625,4213270,61.09
472,INFY,EQ,04-Apr-2019,753.30,751.40,753.80,745.10,748.95,747.90,748.43,7688525,5.754346e+09,178872,5138276,66.83
473,INFY,EQ,05-Apr-2019,747.90,750.90,760.95,748.00,759.55,759.30,758.69,6276040,4.761576e+09,148065,3851738,61.37
474,INFY,EQ,08-Apr-2019,759.30,763.05,770.00,755.40,769.15,767.25,762.80,4919911,3.752910e+09,143815,2380635,48.39
475,INFY,EQ,09-Apr-2019,767.25,770.00,773.00,758.20,760.80,760.60,765.16,6730692,5.150088e+09,146107,3353329,49.82
476,INFY,EQ,10-Apr-2019,760.60,764.00,766.70,751.30,752.85,752.70,759.53,7031088,5.340337e+09,134089,4201714,59.76
477,INFY,EQ,11-Apr-2019,752.70,751.75,751.75,740.05,743.40,742.70,744.27,8200995,6.103734e+09,158348,5047043,61.54
478,INFY,EQ,12-Apr-2019,742.70,743.10,751.55,740.60,748.00,747.75,746.82,7043212,5.260021e+09,165165,2587611,36.74
479,INFY,EQ,15-Apr-2019,747.75,724.70,731.35,712.60,728.20,727.50,724.58,31574803,2.287863e+10,566543,16753549,53.06
480,INFY,EQ,16-Apr-2019,727.50,727.90,727.90,714.10,724.00,724.10,722.40,12524411,9.047647e+09,343101,7260034,57.97
481,INFY,EQ,18-Apr-2019,724.10,722.50,722.50,712.75,715.70,717.05,716.80,13801105,9.892654e+09,302789,8498108,61.58
482,INFY,EQ,22-Apr-2019,717.05,717.05,725.75,715.00,721.30,721.05,721.04,6455426,4.654647e+09,115955,3535056,54.76
483,INFY,EQ,23-Apr-2019,721.05,723.90,730.00,718.40,725.80,728.20,726.32,5516668,4.006855e+09,130836,2893716,52.45
484,INFY,EQ,24-Apr-2019,728.20,728.20,737.90,724.00,735.00,736.45,733.43,8285120,6.076540e+09,174385,4993503,60.27
485,INFY,EQ,25-Apr-2019,736.45,736.45,737.65,727.05,730.05,728.55,730.72,8005235,5.849612e+09,174336,5361863,66.98
486,INFY,EQ,26-Apr-2019,728.55,731.00,739.80,729.00,738.60,738.00,736.11,6895168,5.075637e+09,151426,4168443,60.45
487,INFY,EQ,30-Apr-2019,738.00,738.00,753.80,738.00,748.85,751.35,748.61,9920046,7.426242e+09,165676,6888736,69.44
488,INFY,EQ,02-May-2019,751.35,747.00,748.40,729.50,730.80,730.80,738.19,6351352,4.688477e+09,115522,4071262,64.10
489,INFY,EQ,03-May-2019,730.80,722.90,731.00,718.20,723.65,723.60,725.26,6348116,4.604058e+09,133663,3735602,58.85
490,INFY,EQ,06-May-2019,723.60,715.00,721.80,710.65,717.15,718.40,718.07,8858265,6.360864e+09,148896,6519864,73.60
491,INFY,EQ,07-May-2019,718.40,720.40,727.90,718.70,724.40,724.55,724.51,5747536,4.164127e+09,104342,3690425,64.21
492,INFY,EQ,08-May-2019,724.55,721.00,726.00,716.50,718.95,719.35,721.65,6247642,4.508603e+09,162077,3950857,63.24
493,INFY,EQ,09-May-2019,719.35,719.15,730.30,715.80,722.00,721.05,724.48,7396525,5.358635e+09,242225,4808832,65.01
494,INFY,EQ,10-May-2019,721.05,720.80,726.00,715.00,716.50,716.85,717.88,8352335,5.995942e+09,181229,5545377,66.39
495,INFY,EQ,13-May-2019,716.85,716.55,726.45,712.10,718.00,719.70,720.09,6808993,4.903098e+09,201194,4745909,69.70

In [100]:
indexNames = df[ df['Series'] != 'EQ' ].index
indexNames

Int64Index([444, 462], dtype='int64')

In [101]:
# Delete these row indexes from dataFrame
df.drop(indexNames , inplace=True)
df.shape

(494, 15)

In [102]:
df.columns

Index(['Symbol', 'Series', 'Date', 'Prev Close', 'Open Price', 'High Price',
       'Low Price', 'Last Price', 'Close Price', 'Average Price',
       'Total Traded Quantity', 'Turnover', 'No. of Trades', 'Deliverable Qty',
       '% Dly Qt to Traded Qty'],
      dtype='object')

### Task 1.2

In [103]:
#temp.describe() will give the mean,min and max easily
last90d=df.iloc[404:,:]
temp=last90d["Close Price"]
temp.describe()

count     90.000000
mean     728.602778
std       25.490794
min      658.950000
25%      720.037500
50%      732.250000
75%      744.712500
max      767.250000
Name: Close Price, dtype: float64

### Task 1.3

In [104]:
df["Date"]=pd.to_datetime(df["Date"],unit='ns')

In [105]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,INFY,EQ,2017-05-15,964.25,963.5,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67
1,INFY,EQ,2017-05-16,951.55,953.1,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62
2,INFY,EQ,2017-05-17,955.00,951.6,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35
3,INFY,EQ,2017-05-18,952.80,943.0,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32
4,INFY,EQ,2017-05-19,961.75,961.5,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48

In [106]:
np.max(df["Date"]) - np.min(df["Date"])

Timedelta('728 days 00:00:00')

In [107]:
df.columns

Index(['Symbol', 'Series', 'Date', 'Prev Close', 'Open Price', 'High Price',
       'Low Price', 'Last Price', 'Close Price', 'Average Price',
       'Total Traded Quantity', 'Turnover', 'No. of Trades', 'Deliverable Qty',
       '% Dly Qt to Traded Qty'],
      dtype='object')

### Task 1.4

In [108]:
#Getting month and year for our dataframe
df['month'] = pd.DatetimeIndex(df['Date']).month
df['year'] = pd.DatetimeIndex(df['Date']).year

In [109]:
df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,month,year
0,INFY,EQ,2017-05-15,964.25,963.50,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67,5,2017
1,INFY,EQ,2017-05-16,951.55,953.10,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62,5,2017
2,INFY,EQ,2017-05-17,955.00,951.60,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35,5,2017
3,INFY,EQ,2017-05-18,952.80,943.00,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32,5,2017
4,INFY,EQ,2017-05-19,961.75,961.50,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48,5,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,INFY,EQ,2019-05-07,718.40,720.40,727.90,718.70,724.40,724.55,724.51,5747536,4.164127e+09,104342,3690425,64.21,5,2019
492,INFY,EQ,2019-05-08,724.55,721.00,726.00,716.50,718.95,719.35,721.65,6247642,4.508603e+09,162077,3950857,63.24,5,2019
493,INFY,EQ,2019-05-09,719.35,719.15,730.30,715.80,722.00,721.05,724.48,7396525,5.358635e+09,242225,4808832,65.01,5,2019
494,INFY,EQ,2019-05-10,721.05,720.80,726.00,715.00,716.50,716.85,717.88,8352335,5.995942e+09,181229,5545377,66.39,5,2019
495,INFY,EQ,2019-05-13,716.85,716.55,726.45,712.10,718.00,719.70,720.09,6808993,4.903098e+09,201194,4745909,69.70,5,2019

In [110]:
tdf["CP"]=pd.DataFrame(df["Close Price"])
tdf["Date"]=df["Date"]
tdf["Trade"]=df["No. of Trades"]
def vwap(grp):
    return (grp.CP*grp.Trade).sum() / grp.CP.sum()

In [111]:
tdf

          Date   Trade      CP
0   2017-05-15   75335  951.55
1   2017-05-16   71808  955.00
2   2017-05-17   75429  952.80
3   2017-05-18  120990  961.75
4   2017-05-19   88897  957.95
..         ...     ...     ...
491 2019-05-07  104342  724.55
492 2019-05-08  162077  719.35
493 2019-05-09  242225  721.05
494 2019-05-10  181229  716.85
495 2019-05-13  201194  719.70

[494 rows x 3 columns]

In [112]:
tdf.groupby(tdf.Date.dt.to_period('M')).apply(vwap)

Date
2017-05     82677.106048
2017-06     93931.794239
2017-07     96651.069300
2017-08    238349.796141
2017-09     95341.777536
2017-10     92447.070938
2017-11     95891.173735
2017-12    103819.482886
2018-01    144769.450574
2018-02    123327.611029
2018-03    101678.675866
2018-04    143418.773225
2018-05    107595.889453
2018-06    116919.893795
2018-07    150898.797867
2018-08    115400.727235
2018-09    162950.425308
2018-10    186596.850455
2018-11    165809.893709
2018-12    154084.006799
2019-01    164018.588514
2019-02    127107.413954
2019-03    179314.976408
2019-04    194836.159938
2019-05    161001.275228
Freq: M, dtype: float64

### Task 1.5

In [113]:
#get average price of last n days
def averageprice(n):
    last90d=df.iloc[494-n:,:]
    temp=last90d["Close Price"]
    return temp.mean()

In [114]:
temp=averageprice(10)
temp

726.365

In [115]:
#get progit or loss of last n days
def profit_or_loss(n):
    lastn=df.iloc[494-n,8]
    lastv=df.iloc[493,8]
    li=[]
    if((lastv-lastn)>=0):
        li.append("profit :")
        li.append((lastv-lastn)/lastn*100)
    else:
        li.append("loss :")
        li.append((lastn-lastv)/lastn*100)
    return li

In [116]:
#last one week trend
profit_or_loss(7)

['loss :', 0.5389718076285209]

### Task 1.6

In [117]:
#calculate pct_change()
temp=df["Close Price"].pct_change()
temp[0]=0
df["Day_Perc_Change"]=temp

In [118]:
temp=temp.to_numpy()

In [119]:
df.head(5)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,month,year,Day_Perc_Change
0,INFY,EQ,2017-05-15,964.25,963.5,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67,5,2017,0.000000
1,INFY,EQ,2017-05-16,951.55,953.1,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62,5,2017,0.003626
2,INFY,EQ,2017-05-17,955.00,951.6,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35,5,2017,-0.002304
3,INFY,EQ,2017-05-18,952.80,943.0,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32,5,2017,0.009393
4,INFY,EQ,2017-05-19,961.75,961.5,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48,5,2017,-0.003951

### Task 1.7

In [120]:
#Convert temp dataframe to numpy array which contains DAy_Perc_Change column values
type(temp)
temp = temp.astype('float64')

In [121]:
type(temp)
li=[]
for i in range(len(temp)):
    if(temp[i]>=-0.005 and temp[i]<0.005):
        li.append("No change")
    elif(temp[i]>=0.005 and temp[i]<0.01):
        li.append("Slight positive")
    elif(temp[i]>=0.01 and temp[i]<0.03):
        li.append("Positive")
    elif(temp[i]>=0.03 and temp[i]<0.07):
        li.append("Among top gainers")
    elif(temp[i]>=0.07):
        li.append("Bull run")
    elif(temp[i]>-0.01 and temp[i]<-0.005):
        li.append("Slight Negative")
    elif(temp[i]>-0.03 and temp[i]<=-0.01):
        li.append("Negative")
    elif(temp[i]>-0.07 and temp[i]<=-0.03):
        li.append("Among top losers")
    elif(temp[i]<-0.07):
        li.append("Bear Drop")

In [122]:
df["Trend"]=li

In [128]:
li

['No change',
 'No change',
 'No change',
 'Slight positive',
 'No change',
 'No change',
 'No change',
 'No change',
 'Positive',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Slight Negative',
 'No change',
 'Negative',
 'Positive',
 'Negative',
 'Slight Negative',
 'Slight Negative',
 'Positive',
 'Slight Negative',
 'No change',
 'Slight Negative',
 'Negative',
 'Negative',
 'Positive',
 'No change',
 'No change',
 'No change',
 'Negative',
 'No change',
 'Slight positive',
 'Slight positive',
 'Positive',
 'Positive',
 'Negative',
 'No change',
 'Negative',
 'Positive',
 'Positive',
 'No change',
 'No change',
 'Slight Negative',
 'Positive',
 'No change',
 'Slight Negative',
 'Negative',
 'Positive',
 'Positive',
 'No change',
 'No change',
 'Negative',
 'Positive',
 'Positive',
 'Slight Negative',
 'Negative',
 'Slight Negative',
 'No change',
 'Negative',
 'No change',
 'Slight positive',
 'Positive',
 'Slight positive',
 'Slight Negative',
 'Slight Negative',
 'Among top gainers',
 'Bear Drop',
 'Among top losers',
 'No change',
 'Positive',
 'Positive',
 'Among top gainers',
 'Negative',
 'No change',
 'Negative',
 'Slight positive',
 'Negative',
 'No change',
 'Slight Negative',
 'No change',
 'Negative',
 'Slight Negative',
 'Slight positive',
 'No change',
 'Slight positive',
 'Positive',
 'No change',
 'No change',
 'No change',
 'No change',
 'Negative',
 'No change',
 'Positive',
 'Slight Negative',
 'No change',
 'No change',
 'No change',
 'No change',
 'No change',
 'Positive',
 'No change',
 'Positive',
 'Slight Negative',
 'No change',
 'No change',
 'Slight positive',
 'Slight Negative',
 'Slight Negative',
 'No change',
 'Positive',
 'Negative',
 'Slight positive',
 'Positive',
 'No change',
 'No change',
 'Negative',
 'Slight positive',
 'No change',
 'No change',
 'No change',
 'Positive',
 'No change',
 'No change',
 'Slight positive',
 'Negative',
 'No change',
 'No change',
 'Among top gainers',
 'Negative',
 'Negative',
 'Slight positive',
 'No change',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'No change',
 'Slight Negative',
 'Negative',
 'Positive',
 'No change',
 'Slight positive',
 'Slight positive',
 'No change',
 'No change',
 'Slight positive',
 'Slight Negative',
 'Slight positive',
 'Slight positive',
 'Slight Negative',
 'Negative',
 'Positive',
 'Slight positive',
 'Positive',
 'No change',
 'No change',
 'No change',
 'Slight positive',
 'Slight Negative',
 'No change',
 'Slight Negative',
 'Slight Negative',
 'No change',
 'Positive',
 'Slight positive',
 'Positive',
 'Positive',
 'No change',
 'No change',
 'Among top gainers',
 'Positive',
 'No change',
 'Slight Negative',
 'Slight positive',
 'Positive',
 'Slight positive',
 'Slight Negative',
 'Slight positive',
 'Negative',
 'Negative',
 'No change',
 'No change',
 'No change',
 'Negative',
 'No change',
 'Positive',
 'Negative',
 'Slight Negative',
 'No change',
 'Positive',
 'Positive',
 'No change',
 'No change',
 'Slight positive',
 'Positive',
 'No change',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'No change',
 'No change',
 'Slight Negative',
 'Positive',
 'Slight positive',
 'Positive',
 'No change',
 'No change',
 'No change',
 'Slight Negative',
 'Negative',
 'Positive',
 'No change',
 'Slight Negative',
 'Slight positive',
 'Negative',
 'No change',
 'Negative',
 'No change',
 'No change',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'No change',
 'Slight positive',
 'Among top gainers',
 'Slight positive',
 'Among top losers',
 'Slight Negative',
 'No change',
 'Slight positive',
 'Among top gainers',
 'Slight positive',
 'Negative',
 'Slight positive',
 'Positive',
 'Slight positive',
 'Positive',
 'No change',
 'Negative',
 'Slight Negative',
 'Slight positive',
 'Negative',
 'No change',
 'No change',
 'Positive',
 'Slight positive',
 'No change',
 'No change',
 'Slight Negative',
 'No change',
 'No change',
 'Positive',
 'Slight Negative',
 'Among top gainers',
 'Slight positive',
 'Negative',
 'No change',
 'No change',
 'Positive',
 'Slight Negative',
 'Positive',
 'Negative',
 'Positive',
 'Positive',
 'Slight positive',
 'No change',
 'No change',
 'Positive',
 'Negative',
 'Among top gainers',
 'Negative',
 'Negative',
 'No change',
 'No change',
 'No change',
 'Positive',
 'No change',
 'Slight Negative',
 'Positive',
 'Positive',
 'Positive',
 'Positive',
 'Slight Negative',
 'Among top losers',
 'No change',
 'Positive',
 'No change',
 'Positive',
 'Negative',
 'Positive',
 'Positive',
 'No change',
 'No change',
 'No change',
 'Positive',
 'Slight positive',
 'Positive',
 'No change',
 'Slight Negative',
 'No change',
 'Negative',
 'Positive',
 'Slight Negative',
 'No change',
 'Slight positive',
 'No change',
 'Slight positive',
 'No change',
 'Positive',
 'No change',
 'Positive',
 'No change',
 'Positive',
 'No change',
 'Among top losers',
 'No change',
 'Slight positive',
 'Negative',
 'Positive',
 'Slight positive',
 'Negative',
 'No change',
 'Positive',
 'No change',
 'Bear Drop',
 'Slight Negative',
 'No change',
 'Slight positive',
 'No change',
 'No change',
 'Positive',
 'Negative',
 'Negative',
 'Slight Negative',
 'No change',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Slight positive',
 'Slight positive',
 'Positive',
 'Negative',
 'Negative',
 'Positive',
 'Negative',
 'No change',
 'Negative',
 'Among top losers',
 'Slight positive',
 'Positive',
 'Slight Negative',
 'Positive',
 'Among top losers',
 'Slight Negative',
 'Among top losers',
 'Negative',
 'No change',
 'Negative',
 'Positive',
 'Positive',
 'Among top gainers',
 'Negative',
 'Slight Negative',
 'Slight positive',
 'No change',
 'Positive',
 'Negative',
 'Slight positive',
 'No change',
 'Negative',
 'No change',
 'Slight Negative',
 'No change',
 'Negative',
 'Among top losers',
 'No change',
 'No change',
 'Positive',
 'Among top gainers',
 'Slight Negative',
 'Slight positive',
 'No change',
 'Positive',
 'Slight Negative',
 'Negative',
 'Positive',
 'Negative',
 'Slight positive',
 'Slight positive',
 'Positive',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'No change',
 'Among top losers',
 'No change',
 'Slight Negative',
 'Positive',
 'No change',
 'No change',
 'Slight positive',
 'Slight positive',
 'No change',
 'Negative',
 'Positive',
 'No change',
 'Slight positive',
 'Slight positive',
 'Slight positive',
 'Positive',
 'Among top gainers',
 'Positive',
 'No change',
 'No change',
 'Positive',
 'No change',
 'Negative',
 'No change',
 'No change',
 'No change',
 'No change',
 'No change',
 'Among top gainers',
 'Positive',
 'No change',
 'No change',
 'Positive',
 'No change',
 'No change',
 'No change',
 'Negative',
 'Slight positive',
 'Negative',
 'No change',
 'No change',
 'Negative',
 'Positive',
 'Slight Negative',
 'No change',
 'Positive',
 'Negative',
 'Slight Negative',
 'No change',
 'Positive',
 'Negative',
 'No change',
 'Negative',
 'Negative',
 'No change',
 'Slight Negative',
 'No change',
 'No change',
 'Positive',
 'Negative',
 'Positive',
 'Positive',
 'Slight positive',
 'Negative',
 'Negative',
 'No change',
 'Positive',
 'Slight positive',
 'Positive',
 'Slight positive',
 'Slight Negative',
 'Slight Negative',
 'Positive',
 'Positive',
 'Slight Negative',
 'Negative',
 'Negative',
 'Slight positive',
 'Negative',
 'No change',
 'Slight Negative',
 'Slight positive',
 'Slight positive',
 'Positive',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Slight Negative',
 'Slight Negative',
 'Slight positive',
 'Slight Negative',
 'No change',
 'Slight Negative',
 'No change']

### Task 1.8

In [124]:
# getting a seperate dataframe containing Trend and Total Traded Quantity values
dftemp=pd.DataFrame(df["Total Traded Quantity"])
dftemp["Trend"]=df["Trend"]
dftemp

     Total Traded Quantity            Trend
0                  3648582        No change
1                  3065084        No change
2                  1457754        No change
3                  4028924  Slight positive
4                  2128698        No change
..                     ...              ...
491                5747536  Slight positive
492                6247642  Slight Negative
493                7396525        No change
494                8352335  Slight Negative
495                6808993        No change

[494 rows x 2 columns]

In [129]:
dftemp.groupby(['Trend']).mean()

                   Total Traded Quantity
Trend
Among top gainers           1.259063e+07
Among top losers            1.463854e+07
Bear Drop                   4.878630e+07
Negative                    5.634151e+06
No change                   4.647983e+06
Positive                    6.655530e+06
Slight Negative             5.454672e+06
Slight positive             5.848807e+06

In [126]:
dftemp.median()

Total Traded Quantity    4905803.5
dtype: float64

### Task 1.9

In [127]:
df.to_csv('week2.csv')

In [ ]:
df